<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/assets/home.css">
  </head>
  <body>
    <h1>Graduation Project - Suez University 2019</h1>
    <h2 class="subtitle">Logs Reader</h2>
    <div class="container">
      <h2 class="upload-title">Upload the .las file</h2> <br>
      <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="filename" required class="upload-btn">
        <input type="submit" value="upload" name="submit" class="btn">
      </form>
    </div>
  </body>
</html>
